/* estilos de ng-select */
::ng-deep .ng-select {
  .ng-select-container {
      background-color: white !important;
  }
  
  .ng-dropdown-panel {
      background-color: white !important;
  }
  
  .ng-option {
      background-color: white !important;
  }
}

/* Ver q este bien esto */
.botones{
  position: relative;
  top: 35px;
  left: 660px;
  width: 600px;
}
/* Ver q este bien esto */
.dropdown{
  position: relative;
  right: 530px;
  bottom: 1px;
}

.modal {
  display: none; /* Escondido por defecto */
  position: fixed; /* Fijo en la pantalla */
  background-color: rgba(0, 0, 0, 0.4); /* Fondo negro con opacidad */
}

.modal.show {
  display: block; /* Mostrar el modal cuando isModalOpen es verdadero */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% desde la parte superior y centrado */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho del modal */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
