.dropdown-menu .dropdown-item {
    background-color: white !important;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #a3a3a3 !important;
}
.dropdown-menu {
    max-height: 200px; /* Cambia este valor según tus necesidades */
    overflow-y: auto; /* Agrega el desplazamiento vertical */
}


#myTable {
    border: 1px solid black; /* Borde negro a toda la tabla */
    border-collapse: collapse;
     /* Para que los bordes no se dupliquen */ /* Esto evita el espacio extra */
}

#myTable th, #myTable td {
    border: 1px solid black; /* Borde negro a las celdas */
    padding: 8px; /* Espaciado interno en las celdas */
    text-align: left;
    color: white;
    background-color: #6c757d; /* Alineación del texto */
}
.first-row {
    background-color: #f0f0f0 !important; /* Gris claro */
}
.entrada-cell {
    background-color: #28a745 !important; /* Fondo verde */
}

.salida-cell {
    background-color: #dc3545 !important; /* Fondo rojo */
}
