<div class="card mt-5 mx-3 mx-md-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded pruebaNavbar">
    <form [formGroup]="visitorForm" class="needs-validation" novalidate (ngSubmit)="sendVisitorWithoutRH()">
        <div class="col-12 col-md-6 mt-3">
            <div class="d-flex align-items-center">
                <label for="authorizedType" class="form-label me-3">Tipo autorizado</label>
                <div class="flex-grow-1">
                    <select id="authorizedType" class="form-select"
                        formControlName="authorizedType"
                        [class.is-valid]="visitorForm.get('authorizedType')?.valid && visitorForm.get('authorizedType')?.touched"
                        [class.is-invalid]="visitorForm.get('authorizedType')?.invalid && visitorForm.get('authorizedType')?.touched"
                        required (change)="onAuthorizedTypeChange($event)">
                        <option *ngFor="let type of usersType" [value]="type.id">
                            {{ type.description }}
                        </option>
                    </select>
                    <div class="invalid-feedback"
                        *ngIf="visitorForm.get('authorizedType')?.errors?.['required'] && visitorForm.get('authorizedType')?.touched">
                        Por favor seleccione un tipo de autorización.
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card mt-3 mb-3">
            <div class="card-body">
                <div class="row g-4">
                    <div class="col-12 col-md-6">
                        <div class="d-flex align-items-center">
                            <label for="document" class="form-label me-3">Documento</label>
                            <div class="flex-grow-1">
                                <input type="text" class="form-control" id="document" formControlName="document"
                                    (input)="onDocumentInput($event)"
                                    [class.is-valid]="visitorForm.get('document')?.valid && visitorForm.get('document')?.touched"
                                    [class.is-invalid]="visitorForm.get('document')?.invalid && visitorForm.get('document')?.touched">
                                <div class="invalid-feedback"
                                    *ngIf="visitorForm.get('document')?.errors && visitorForm.get('document')?.touched">
                                    <div *ngIf="visitorForm.get('document')?.errors?.['required']">
                                        El documento es requerido.
                                    </div>
                                    <div *ngIf="visitorForm.get('document')?.errors?.['minlength']">
                                        El documento debe tener al menos 8 caracteres.
                                    </div>
                                    <div *ngIf="visitorForm.get('document')?.errors?.['maxlength']">
                                        El documento no puede exceder 15 caracteres.
                                    </div>
                                    <div *ngIf="visitorForm.get('document')?.errors?.['pattern']">
                                        El documento debe contener solo letras y números.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="d-flex align-items-center">
                            <label for="documentType" class="form-label me-3">Tipo Documento</label>
                            <div class="flex-grow-1">
                                <select id="documentType" class="form-select" formControlName="documentType"
                                    [class.is-valid]="visitorForm.get('documentType')?.valid && visitorForm.get('documentType')?.touched"
                                    [class.is-invalid]="visitorForm.get('documentType')?.invalid && visitorForm.get('documentType')?.touched"
                                    required>
                                    <option value="1">DNI</option>
                                    <option value="2">Pasaporte</option>
                                    <option value="3">CUIT</option>
                                </select>
                                <div class="invalid-feedback"
                                    *ngIf="visitorForm.get('documentType')?.invalid && visitorForm.get('documentType')?.touched">
                                    Por favor seleccione un tipo de documento.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="d-flex align-items-center">
                            <label for="firstName" class="form-label me-3">Nombre</label>
                            <div class="flex-grow-1">
                                <input type="text" class="form-control" id="firstName" formControlName="firstName"
                                    [class.is-valid]="visitorForm.get('firstName')?.valid && visitorForm.get('firstName')?.touched"
                                    [class.is-invalid]="visitorForm.get('firstName')?.invalid && visitorForm.get('firstName')?.touched">

                                <div class="invalid-feedback"
                                    *ngIf="visitorForm.get('firstName')?.errors && visitorForm.get('firstName')?.touched">
                                    <div *ngIf="visitorForm.get('firstName')?.errors?.['required']">El nombre es
                                        requerido.
                                    </div>
                                    <div *ngIf="visitorForm.get('firstName')?.errors?.['maxlength']">El nombre no puede
                                        exceder
                                        45
                                        caracteres.</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="d-flex align-items-center">
                            <label for="lastName" class="form-label me-3">Apellido</label>
                            <div class="flex-grow-1">
                                <input type="text" class="form-control " id="lastName" formControlName="lastName"
                                    [class.is-valid]="visitorForm.get('lastName')?.valid && visitorForm.get('lastName')?.touched"
                                    [class.is-invalid]="visitorForm.get('lastName')?.invalid && visitorForm.get('lastName')?.touched">
                                <div class="invalid-feedback"
                                    *ngIf="visitorForm.get('lastName')?.errors && visitorForm.get('lastName')?.touched">
                                    <div *ngIf="visitorForm.get('lastName')?.errors?.['required']">El apellido es
                                        requerido.
                                    </div>
                                    <div *ngIf="visitorForm.get('lastName')?.errors?.['maxlength']">El apellido no puede
                                        exceder 45
                                        caracteres.</div>
                                </div>
                            </div>

                        </div>

                    </div>
                    @if (this.indexUserType===1) {
                        <div class="col-12 col-md-6">
                            <div class="d-flex align-items-center">
                                <label for="email" class="form-label me-3">Email</label>
                                <div class="flex-grow-1">
                                    <input type="email" class="form-control flex-grow-1" id="email" formControlName="email"
                                        [class.is-valid]="visitorForm.get('email')?.valid && visitorForm.get('email')?.touched"
                                        [class.is-invalid]="visitorForm.get('email')?.invalid && visitorForm.get('email')?.touched">
                                    <div class="invalid-feedback"
                                        *ngIf="visitorForm.get('email')?.errors && visitorForm.get('email')?.touched">
                                        <div *ngIf="visitorForm.get('email')?.errors?.['required']">El email es requerido.
                                        </div>
                                        <div *ngIf="visitorForm.get('email')?.errors?.['email']">Por favor, ingrese un email
                                            válido.</div>
                                        <div *ngIf="visitorForm.get('email')?.errors?.['maxlength']">El email no puede
                                            exceder 70 caracteres.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="input-group-text">
                            <input class="form-check-input w-10" type="checkbox" role="switch" id="hasVehicle"
                                formControlName="hasVehicle" style="transform: scale(1.2);">
                            <label class="form-check-label w-50 text-end" for="hasVehicle">Vehículo</label>
                        </div>
                    </div>

                    <ng-container *ngIf="visitorForm.controls['hasVehicle'].value">
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="d-flex align-items-center">
                                <label for="licensePlate" class="form-label me-3">Patente</label>
                                <div class="flex-grow-1">
                                    <input type="text" class="form-control flex-grow-1" id="licensePlate"
                                        formControlName="licensePlate" (input)="onLicensePlateInput($event)"
                                        [class.is-valid]="visitorForm.get('licensePlate')?.valid && visitorForm.get('licensePlate')?.touched"
                                        [class.is-invalid]="visitorForm.get('licensePlate')?.invalid && visitorForm.get('licensePlate')?.touched">
                                    <div class="invalid-feedback"
                                        *ngIf="visitorForm.get('licensePlate')?.errors && visitorForm.get('licensePlate')?.touched">
                                        <div *ngIf="visitorForm.get('licensePlate')?.errors?.['required']">La patente es
                                            requerida.
                                        </div>
                                        <div *ngIf="visitorForm.get('licensePlate')?.errors?.['pattern']">Formato de
                                            patente
                                            inválido.
                                        </div>
                                        <div *ngIf="visitorForm.get('licensePlate')?.errors?.['maxlength']">La patente
                                            no puede
                                            exceder
                                            7 caracteres.</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="input-group">
                                <label for="vehicleType" class="form-label me-3">Tipo Vehiculo</label>
                                <div class="flex-grow-1">
                                    <select class="form-select" id="vehicleType" formControlName="vehicleType"
                                        [class.is-valid]="visitorForm.get('vehicleType')?.valid && visitorForm.get('vehicleType')?.touched"
                                        [class.is-invalid]="visitorForm.get('vehicleType')?.invalid && visitorForm.get('vehicleType')?.touched">
                                        <option *ngFor="let option of vehicleOptions" [value]="option.value">{{
                                            option.label
                                            }}
                                        </option>
                                    </select>

                                    <div class="invalid-feedback"
                                        *ngIf="visitorForm.get('vehicleType')?.errors && visitorForm.get('vehicleType')?.touched">
                                        <div *ngIf="visitorForm.get('vehicleType')?.errors?.['required']">Por favor,
                                            seleccione
                                            un tipo
                                            de vehículo.</div>
                                    </div>
                                </div>


                            </div>

                        </div>



                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="d-flex align-items-center">
                                <label for="vehicleType" class="form-label me-3">Seguro</label>
                                <div class="flex-grow-1">
                                    <select id="insurance" class="form-select flex-grow-1" formControlName="insurance"
                                    [class.is-valid]="visitorForm.get('insurance')?.valid && visitorForm.get('insurance')?.touched"
                                    [class.is-invalid]="visitorForm.get('insurance')?.invalid && visitorForm.get('insurance')?.touched">
                                    <option value="San Cristobal">San Cristobal</option>
                                    <option value="La Nueva">La Nueva</option>
                                    <option value="La Segunda">La Segunda</option>
                                    <option value="Sancor Seguros">Sancor Seguros</option>
                                    <option value="Federación Patronal">Federación Patronal</option>
                                    <option value="Mapfre">Mapfre</option>
                                    <option value="Provincia Seguros">Provincia Seguros</option>
                                    <option value="Allianz">Allianz</option>
                                    <option value="Zurich Seguros">Zurich Seguros</option>
                                    <option value="Nación Seguros">Nación Seguros</option>
                                    <option value="Securitas">Securitas</option>
                                    <option value="Mercantil Andina">Mercantil Andina</option>
                                    <option value="Quálitas">Quálitas</option>
                                </select>
                                <div class="invalid-feedback"
                                *ngIf="visitorForm.get('insurance')?.errors && visitorForm.get('insurance')?.touched">
                                <div *ngIf="visitorForm.get('insurance')?.errors?.['required']">Por favor, seleccione un
                                    seguro.
                                </div>
                            </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </ng-container>
                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary btn-sm" style="margin-bottom: 2px;" [disabled]="!(
                        visitorForm.get('document')?.valid &&
                        visitorForm.get('firstName')?.valid &&
                        visitorForm.get('lastName')?.valid &&
                        visitorForm.get('email')?.valid
                    )">Agregar</button>
                    </div>
                </div>
            </div>
        </div>


        <app-access-grid-visitors-registration
            (updateVisit)="updateVisitor($event)"></app-access-grid-visitors-registration>
        <app-access-time-range-visitors-registration (selectedUser)="handleSelectedUser($event)">
        </app-access-time-range-visitors-registration>

        <div class="col-12 mt-3">
            <div class="d-flex justify-content-end gap-3">
                <button class="btn btn-outline-success btn-sm" type="button"
                    *ngIf="isQRCodeAvailable && indexUserType === 1" (click)="downloadQRCode()"
                    [disabled]="!isQRCodeAvailable">
                    Descargar Qr
                </button>
                <button class="btn btn-primary btn-sm" type="button" *ngIf="isRegisterButtonVisible"
                    (click)="sendVisitorRecord()">
                    Registrar
                </button>
            </div>
        </div>

    </form>
</div>