.botones {
  position: relative;
  top: 35px;
  left: 7px;
}

.modal {
  display: none; /* Escondido por defecto */
  position: fixed; /* Fijo en la pantalla */
  z-index: 1; /* Z-index para superponerse a otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  overflow: auto; /* Habilitar desplazamiento si es necesario */
  background-color: rgb(0, 0, 0); /* Fondo negro */
  background-color: rgba(0, 0, 0, 0.4); /* Fondo negro con opacidad */
}

.modal.show {
  display: block; /* Mostrar el modal cuando isModalOpen es verdadero */
}

.modal-content {
  background-color: #fefefe;
  margin: 17% auto;
  padding: 22px;
  border: 1px solid #888;
  width: 33%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
