<div class="container-fluid p-1 mt-2 mb-2">
  <div class="m-2 p-1">
    <h1 class="text-left ps-4">Ingreso/Egreso de Visitantes</h1>
  </div>
  <div class="container-fluid m-1 p-2">
    <div class="container-fluid col-10">
      <!-- <div class="row mb-2 p-2 justify-content-start"> 
                <div class="col-4 text-center d-flex border border-dark p-2 rounded justify-content-center align-items-center"> 
                    <label for="inputParameter" class="m-1 me-2">Buscar</label>
                    <input type="text" class="form-control border" placeholder="por DNI, Apellido o Nombre" name="inputParameter"
                            [(ngModel)]="parameter" (ngModelChange)="Search(parameter)"
                    >
                </div>
            </div>    -->
      <table
        id="visitorsTable"
        class="display table border border-dark rounded"
      >
        <thead class="bg-secondary">
          <tr>
            <th scope="col" class="border border-dark text-light bg-secondary">
              Nombre
            </th>
            <th scope="col" class="border border-dark text-light bg-secondary">
              Tipo documento
            </th>
            <th scope="col" class="border border-dark text-light bg-secondary">
              Documento
            </th>
            <th scope="col" class="border border-dark text-light bg-secondary">
              Más Información
            </th>
            <th scope="col" class="border border-dark text-light bg-secondary">
              Acción
            </th>
            <th scope="col" class="border border-dark text-light bg-secondary">
              Observaciones
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- @for (v of showVisitors; track $index) {
                        <tr>
                            <td class="col-2 border border-dark">{{v.last_name}}, {{v.name}}</td>
                            <td class="col-2 border border-dark">{{v.document}}</td>
                            <td class="border border-dark col-2 align-items-center text-center"><button (click)="MoreInfo(v)" style="width: 100%;" class="btn btn-info">Ver más</button></td>
                            <td class="col-2">
                                <select style="width: 100%;" class="form-select" name="" id="">
                                   <option value="" class="bg-secondary text-white" selected disabled hidden>Seleccionar</option>
                                    <option (click)="RegisterAccess(v)" class="bg-primary text-light m-0 p-0" value="">Ingreso</option>
                                    <option (click)="RegisterExit(v)" class="bg-primary text-light m-0 p-0" value="">Egreso</option>
                                </select>                                                                                     
                            </td>
                            <td class="col-2 border border-dark"><textarea appAutoSizeTextArea [(ngModel)]="v.observations" name="" id=""></textarea></td>
                        </tr>
                    } -->
        </tbody>
      </table>
      <div class="row align-items-center">
        <div class="col text-start">
          <button
            class="btn btn-secondary"
            [routerLink]="['/entry']"
            routerLinkActive="router-link-active"
          >
            Cancelar
          </button>
        </div>
        <div class="col text-end">
          <button class="btn btn-primary me-2" (click)="AddVisitor()">
            Agregar Visitante
          </button>
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#qrScannerModal"
          >
            <i class="bi bi-qr-code-scan"></i> Escanear QR
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal del escáner QR -->
<div
  class="modal fade"
  id="qrScannerModal"
  tabindex="-1"
  aria-labelledby="qrScannerModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="qrScannerModalLabel">Escanear Código QR</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="stopScanner()"
        ></button>
      </div>
      <div class="modal-body">
        <ngx-scanner-qrcode
          #scanner
          (event)="handleQrScan($event)"
        ></ngx-scanner-qrcode>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="stopScanner()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
