<div class="container pt-0">
  <!-- Filtros -->
  <div class="row mt-0 border-0 rounded-4 p-2 mt-0 shadow mb-3">
    <div class="row">
      <!-- Filtro de fechas -->
      <div class="col d-flex gap-3">
        <div class="col">
          <input
            type="month"
            class="form-control border-1 bg-light"
            [(ngModel)]="periodFrom"
            (ngModelChange)="applyFilters()"
            [max]="periodTo"
            [min]="minDateFrom"
          />
        </div>
        <div class="col">
          <input
            type="month"
            class="form-control border-1 bg-light"
            [(ngModel)]="periodTo"
            (ngModelChange)="applyFilters()"
            [min]="periodFrom"
            [max]="getCurrentYearMonth()" 
          />
        </div>
   
      </div>
      <!-- Botones de exportar -->
      <div class="col-auto d-flex gap-2 ms-auto">
        <button
          class="btn btn-primary filterbutton"
          data-bs-toggle="modal"
          title="Filtros Avanzados"
          data-bs-target="#filtrosAvanzados"
        >
          <i class="bi bi-funnel-fill"></i>
        </button>
        <button
          type="button"
          class="btn btn-secondary bi bi-trash filterbutton"
          title="Limpiar Filtros"
          (click)="resetFilters()"
        ></button>
      </div>
    </div>
  </div>
  <div class="modal fade" id="filtrosAvanzados" tabindex="-1" aria-labelledby="filtrosAvanzadosLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filtrosAvanzadosLabel">Filtros Avanzados</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <div class="input-group-with-label"></div>
          <label for="chartType" class="form-label">Tipo de Gráfico</label>
          <select id="chartType" class="form-select" [(ngModel)]="chartType" (change)="onChartTypeChange()">
            <option value="ingresos">Ingresos</option>
            <option value="egresos">Egresos</option>
            <option value="total">Ambos</option>
          </select>
          
        </div>
        <div class="col">
          <div class="input-group-with-label">
            <div class="input-group">
              <ng-select [items]="availableUserTypes" [multiple]="true" [closeOnSelect]="false" [searchable]="true"
                bindLabel="label" bindValue="value" [clearable]="false" [(ngModel)]="selectedUserTypes"
                (change)="applyFilters()"
                [placeholder]="selectedUserTypes.length ? '' : 'Seleccionar tipo de ingresante'">
                <ng-template ng-multi-label-tmp let-items="items">
                  <div *ngIf="items.length > 0">({{items.length}}) Seleccionados</div>
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="ingresante-{{index}}" type="checkbox" [checked]="item$.selected" />
                  <span class="ms-2">{{item.label}}</span>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>

  <!-- Grilla del dashboard -->
  <div class="row position-relative min-vh-75">
    <!-- Contenedor para cuando un grafico es grande -->
    <div class="container d-flex gap-3" *ngIf="status !== 0">

      <!-- KPIs para el gráfico de columnas cuando es grande-->
      <div class="col-md-4" *ngIf="status === 1">
        <div class="row">
          <div class="col" *ngIf="chartType !== 'egresos'">
            <div class="card border-0 shadow-lg rounded-4 mb-3 hover-scale" (click)="makeBig(1)">
              <div class="card-body px-0 pb-1">
                <!-- Contenedor para el primer h5 e ícono -->
                <div class="d-flex justify-content-center align-items-center">
                  <h5 class="mb-1 fw-medium me-2">Ingresos</h5>
                  <i class="bi bi-star mb-1" style="font-size: 1.2rem;"></i>
                </div>
              
                <!-- Segundo h5 debajo, centrado -->
                <div class="text-center">
                  <h6 class="mb-1 fw-medium">del Mes Actual</h6>
                </div>
              
                <!-- Contador e ícono en la misma fila -->
                <div class="text-center align-items-center">
                  <h6 class="mt-2">{{ this.showCurrentMonth() }} | {{ currentMonthAccessCount }}</h6>
                </div>
              </div>

            </div>
          </div>

          <div class="col" *ngIf="chartType !== 'ingresos'">
            <div class="card border-0 shadow-lg rounded-4 mb-3 hover-scale" (click)="makeBig(1)">
              <div class="card-body px-0 pb-1">
                <!-- Contenedor para el primer h5 e ícono -->
                <div class="d-flex justify-content-center align-items-center">
                  <h5 class="mb-1 fw-medium me-2">Egresos</h5>
                  <i class="bi bi-star mb-1" style="font-size: 1.2rem;"></i>
                </div>
              
                <!-- Segundo h5 debajo, centrado -->
                <div class="text-center">
                  <h6 class="mb-1 fw-medium">del Mes Actual</h6>
                </div>
              
                <!-- Contador e ícono en la misma fila -->
                <div class="text-center align-items-center">
                  <h6 class="mt-2">{{ this.showCurrentMonth() }} | {{ currentMonthExitCount }}</h6>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Promedio Mensual -->
         <div class="row">
          <div class="col mb-3" *ngIf="chartType !== 'egresos'">
            <div class="card border-0 shadow-lg mb-2 rounded-4  h-100 w-98" style="background-color: #d8ffedde">
              <div class="card-body px-0 pb-1">
                <!-- Contenedor para el primer h5 e ícono -->
                <div class="d-flex justify-content-center align-items-center">
                  <h5 class="mb-1 fw-medium me-2">Ingresos</h5>
                  <i class="bi bi-box-arrow-right mb-1" style="font-size: 1.2rem;"></i>
                </div>
              
                <!-- Segundo h5 debajo, centrado -->
                <div class="text-center">
                  <h6 class="mb-1 fw-medium">Mes con más Ingresos</h6>
                </div>
              
                <!-- Contador e ícono en la misma fila -->
                <div class="text-center align-items-center">
                  <h6 class="mt-2">{{ monthEntry }} | {{ entriesCount }}</h6>
                </div>
              </div>
            </div>
          </div>
 
          <div class="col mb-3" *ngIf="chartType !== 'ingresos'">
            <div class="card border-0 shadow-lg mb-2 rounded-4 h-100 w-98" style="background-color: #f8d7da">
              <div class="card-body px-0 pb-1">
                <!-- Contenedor para el primer h5 e ícono -->
                <div class="d-flex justify-content-center align-items-center">
                  <h5 class="mb-1 fw-medium me-2">Egresos</h5>
                  <i class="bi bi-box-arrow-left mb-1" style="font-size: 1.2rem;"></i>
                </div>
              
                <!-- Segundo h5 debajo, centrado -->
                <div class="text-center">
                  <h6 class="mb-1 fw-medium">Mes con más Egresos</h6>
                </div>
              
                <!-- Contador e ícono en la misma fila -->
                <div class="text-center align-items-center">
                  <h6 class="mt-2">{{ monthExit }} | {{ exitCount }}</h6>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- FIN Promedio Mensual -->

        <!-- Total Ingresos anuales -->
        <div class="row">
          <div class="col" *ngIf="chartType !== 'egresos'">
            <div class="card border-0 shadow-lg mb-2 rounded-4 w-100" style="background-color: #d8ffedde">
              <div class="card-body px-0 pb-1">
                <!-- Contenedor para el primer h5 e ícono -->
                <div class="d-flex justify-content-center align-items-center">
                  <h5 class="mb-1 fw-medium me-2">Ingresos</h5>
                  <i class="bi bi-box-arrow-right mb-1" style="font-size: 1.2rem;"></i>
                </div>
              
                <!-- Segundo h5 debajo, centrado -->
                <div class="text-center">
                  <h6 class="mb-1 fw-medium">Total de este Año</h6>
                </div>
              
                <!-- Contador e ícono en la misma fila -->
                <div class="text-center align-items-center">
                  <h6 class="mt-2">{{ totalAccesCount }}</h6>
                </div>
              </div>

            </div>
          </div>
        
          <div class="col mb-3" *ngIf="chartType !== 'ingresos'">
            <div class="card border-0 shadow-lg mb-2 rounded-4 w-100" style="background-color: #f8d7da">
              <div class="card-body px-0 pb-1">
                <!-- Contenedor para el primer h5 e ícono -->
                <div class="d-flex justify-content-center align-items-center">
                  <h5 class="mb-1 fw-medium me-2">Egresos</h5>
                  <i class="bi bi-box-arrow-left mb-1" style="font-size: 1.2rem;"></i>
                </div>
              
                <!-- Segundo h5 debajo, centrado -->
                <div class="text-center">
                  <h6 class="mb-1 fw-medium">Total de este Año</h6>
                </div>
              
                <!-- Contador e ícono en la misma fila -->
                <div class="text-center align-items-center">
                  <h6 class="mt-2">{{ totalExitCount }}</h6>
                </div>
              </div>

            </div>
          </div>
        </div>
        
      </div>
      <!-- Grafico de columnas -->
      <div class="col-md-8 mb-2" *ngIf="status === 1">
        <div class="card border-0 shadow-lg rounded-4 h-90 w-100">
          <div class="card-body">
            <h4 class="card-title align-items-center">Cantidad de {{ capitalizeFirstLetter(chartType) }}
              <button type="button" class="btn btn-sm btn-link text-muted bi bi-arrow-left fs-5 float-end" title="Volver"
                      (click)="makeBig(0)"></button>
            </h4>
            <hr class="">
            <google-chart
              [type]="columnChartType"
              [data]="columnChartData"
              [options]="columnChartOptions"
              class="expanded-chart-content p-1"
              style="width: 100%; height: 280px"
            >
            </google-chart>
          </div>
        </div>
      </div>

      <!-- KPIs para el gráfico de pie cuando el grafico es grande -->
      <div class="col-md-4 mt-0" *ngIf="status === 2">
        <!-- Método más usado -->
        <div class="row g-1"> <!-- g-1 reduce el espacio entre filas y columnas -->
          <div class="col-md-4 mx-0 p-2" *ngFor="let data of uniqueData">
            <div class="card border-0 shadow-lg rounded-4"
              [ngClass]="{
                'bg-success': chartType === 'ingresos',
                'bg-danger': chartType === 'egresos'
              }">
              <div class="card-body position-relative px-0">
                <div class="text-center px-0">
                  <h6 class="mb-1 p-0">
                    {{ translateRole(data.userType) }}
                  </h6>
                  <h5 class="mb-1 fw-semibold">{{ data.percentage }}%</h5>
                  <small class="text-muted mb-0">Total: {{ data.count }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <!-- Grafico de pie -->
      <div class="col-8" *ngIf="status === 2">

        <div class="card border-0 shadow-lg rounded-4">
          <div class="card-body">

            <h4 class="card-title align-items-center">Comparación de {{ capitalizeFirstLetter(chartType) }} según Tipos de Ingresante
              <button type="button" class="btn btn-sm btn-link text-muted bi bi-arrow-left fs-5 float-end" title="Volver"
                (click)="makeBig(0)"></button>
            </h4>

            <hr class="">
            <div id="chartContainer mt-0">
              <google-chart class="mt-0 ps-1 pb-1" style="width: 720px; height: 285px" [type]="barChartType" [data]="barChartData" [options]="barChartOptions">
              </google-chart>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- KPIs generales, cuando se ven todos los graficos juntos -->
    <div class="col-md-2" *ngIf="status === 0">
      <!-- KPI General para Columnas -->
      <div class="row">
        <div class="col" *ngIf="chartType !== 'egresos'">
          <div class="card border-0 shadow-lg rounded-4 mb-3 p-0 hover-scale" (click)="makeBig(1)" style="background-color: #d4edda">
            <div class="card-body px-0 py-1">
              <!-- Contenedor para el primer h5 e ícono -->
              <div class="d-flex justify-content-center align-items-center">
                <h5 class="mb-1 fw-medium me-2">Ingresos</h5>
                <i class="bi bi-box-arrow-right mb-1" style="font-size: 1.2rem;"></i>
              </div>
            
              <!-- Segundo h5 debajo, centrado -->
              <div class="text-center">
                <h6 class="mb-1 fw-medium">Diarios</h6>
              </div>
            
              <!-- Contador e ícono en la misma fila -->
              <div class="text-center align-items-center">
                <h6 class="mt-2">{{ currentMonthAccessCount }}</h6>
              </div>
            </div>

          </div>
        </div>
      </div>
      

      <!-- KPI General para Columnas -->
      <div class="row">
        <div class="col" *ngIf="chartType !== 'ingresos'">
          <div class="card border-0 shadow-lg rounded-4 mb-3 hover-scale" (click)="makeBig(1)" style="background-color: #f8d7da">
            <div class="card-body px-0 py-1">
              <!-- Contenedor para el primer h5 e ícono -->
              <div class="d-flex justify-content-center align-items-center">
                <h5 class="mb-1 fw-medium me-2">Egresos</h5>
                <i class="bi bi-box-arrow-left mb-1" style="font-size: 1.2rem;"></i>
              </div>
            
              <!-- Segundo h5 debajo, centrado -->
              <div class="text-center">
                <h6 class="mb-1 fw-medium">Diarios</h6>
              </div>
            
              <!-- Contador e ícono en la misma fila -->
              <div class="text-center align-items-center">
                <h6 class="mt-2">{{ currentMonthExitCount }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <!-- KPI General para ingresos pico por día de la semana -->
      <div class="row">
        <div class="col" *ngIf="chartType !== 'egresos'">
          <div class="card border-0 shadow-lg rounded-4 mb-3 hover-scale" (click)="makeBig(1)">
            <div class="card-body px-0 py-1">
              <!-- Contenedor para el primer h5 e ícono -->
              <div class="d-flex justify-content-center align-items-center mb-0">
                <h5 class="mb-1 fw-medium me-2">Esta Semana</h5>
                <i class="bi bi-box-arrow-right mb-1" style="font-size: 1.2rem;"></i>
              </div>
            
              <!-- Segundo h5 debajo, centrado -->
              <div class="text-center">
                <h6 class="mb-1 fw-medium">Día con más Ingresos</h6>
              </div>
            
              <!-- Contador e ícono en la misma fila -->
              <div class="text-center align-items-center">
                @if(accessCount > 0){
                  <h6 class="mt-1 fw-medium">{{ capitalizeFirstLetter(dayWithMostAccesses) }} | {{ accessCount }}</h6>
                } @else {
                  <h6 class=""><i class="bi bi-dash-lg"></i></h6>
                }
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col" *ngIf="chartType !== 'ingresos'">
          <div class="card border-0 shadow-lg rounded-4 mb-3 hover-scale" (click)="makeBig(1)">
            <div class="card-body px-0 py-1">
              <!-- Contenedor para el primer h5 e ícono -->
              <div class="d-flex justify-content-center align-items-center mb-0">
                <h5 class="mb-1 fw-medium me-2">Esta Semana</h5>
                <i class="bi bi-box-arrow-left mb-1" style="font-size: 1.2rem;"></i>
              </div>
            
              <!-- Segundo h5 debajo, centrado -->
              <div class="text-center">
                <h6 class="mb-1 fw-medium">Día con más Egresos</h6>
              </div>
            
              <!-- Contador e ícono en la misma fila -->
              <div class="text-center align-items-center">
                @if(exitsCountPeak > 0){
                  <h6 class="mt-1 fw-medium">{{ capitalizeFirstLetter(dayWithMostExits) }} | {{ exitsCountPeak }}</h6>
                } @else {
                  <h6 class=""><i class="bi bi-dash-lg"></i></h6>
                }
              </div>
            </div>

          </div>
        </div>
      </div>

        <div class="row">
          <!-- KPI para guardia con más ingresos -->
          <div class="col mt-0" *ngIf="chartType !== 'egresos'">
            <div class="card border-0 shadow-lg rounded-4 mb-3 hover-scale" (click)="redirect(redirectKpis.guardEntries, 'guardEntries')">
              <div class="card-body px-0 py-1">
                <!-- Contenedor para el primer h5 e ícono -->
                <div class="d-flex justify-content-center align-items-center mb-0">
                  <h5 class="mb-1 fw-medium me-2">Guardia</h5>
                  <i class="bi bi-house-lock mb-1" style="font-size: 1.2rem;"></i>
                </div>
              
                <!-- Segundo h5 debajo, centrado -->
                <div class="text-center">
                  <h6 class="mb-1 p-1 fw-medium">con mayor registro de Ingresos</h6>
                </div>
              
                <!-- Contador e ícono en la misma fila -->
                <div class="text-center align-items-center">
                  <h6 class="mt-2 fw-medium">{{ redirectKpis.guardEntries.name }} | {{ redirectKpis.guardEntries.count }}</h6>
                </div>
              </div>
            </div>
          </div>
            
          <!--* KPI para guardia con más egresos *-->
          <div class="col mt-0" *ngIf="chartType !== 'ingresos'">
            <div class="card border-0 shadow-lg rounded-4 mb-3 hover-scale" (click)="redirect(redirectKpis.guardExits, 'guardExits')">
              <div class="card-body px-0 py-1">
                <!-- Contenedor para el primer h5 e ícono -->
                <div class="d-flex justify-content-center align-items-center mb-0">
                  <h5 class="mb-1 fw-medium me-2">Guardia</h5>
                  <i class="bi bi-house-lock mb-1" style="font-size: 1.2rem;"></i>
                </div>
              
                <!-- Segundo h5 debajo, centrado -->
                <div class="text-center p-1">
                  <h6 class="mb-1 fw-medium">con mayor registro de Egresos</h6>
                </div>
              
                <!-- Contador e ícono en la misma fila -->
                <div class="text-center align-items-center">
                  <h6 class="mt-2 fw-medium">{{ redirectKpis.guardExits.name }} | {{ redirectKpis.guardExits.count }}</h6>
                </div>
              </div>

            </div>
          </div>
        </div>

          <!-- KPI para vecino con más autorizaciones -->
          <div class="row mt-0">
            <div class="col">
              <div class="card border-0 shadow-lg rounded-4 mb-3 hover-scale" (click)="redirect(redirectKpis.neighborAuthorizations, 'neighborAuthorizations')">
                <div class="card-body px-0 py-1">
                  <!-- Contenedor para el primer h5 e ícono -->
                  <div class="d-flex justify-content-center align-items-center mb-0">
                    <h5 class="mb-1 fw-medium me-2">Vecino</h5>
                    <i class="bi bi-house mb-1" style="font-size: 1.2rem;"></i>
                  </div>
                  <!-- Segundo h5 debajo, centrado -->
                  <div class="text-center p-1">
                    <h6 class="mb-1 fw-medium">con más personas autorizadas</h6>
                  </div>
                  <!-- Contador e ícono en la misma fila -->
                  <div class="text-center align-items-center">
                    @if(redirectKpis.neighborAuthorizations && redirectKpis.neighborAuthorizations.count){
                      <h5 class="mt-2 fw-medium">{{ redirectKpis.neighborAuthorizations.name }} | {{ redirectKpis.neighborAuthorizations.count }}</h5>
                    } @else {
                      <h5 class=""><i class="bi bi-dash-lg"></i></h5>
                    }
                  </div>
                </div>

              </div>
            </div>
          </div>
    </div>

    <div class="col-md-10" *ngIf="status === 0" style="height: 100%">
      <div class="row">
        <!-- Gráfico comparacion Ingreso/Egreso -->
        <div class="col-md-6" *ngIf="status === 0">
          <div class="mb-3">
            <div class="card border-0 shadow-lg rounded-4 h-100 transition-all hover-scale" (click)="makeBig(1)">
              <div class="card-body mt-1">
                <h4 class="card-title align-items-center">Comparación de {{ capitalizeFirstLetter(chartType) }}
                  <button type="button" class="btn btn-sm btn-link text-muted bi bi-arrows-angle-expand fs-5 float-end" title="Expandir" (click)="makeBig(1)"></button>
                </h4>
                <hr class="mb-0 mt-4">
                <google-chart class="mt-0"
                  style="width: 100%; height: 247px"
                  [type]="columnChartType"
                  [data]="columnChartData"
                  [options]="columnChartOptions">
                </google-chart>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Grafico top 5 -->
        <div class="col-md-6">
          <div class="card border-0 shadow-lg rounded-4 transition-all hover-scale" (click)="makeBig(2)">
            <div class="card-body">
              <div class="d-flex justify-content-center align-items-center mb-0">
                <div>
                  <h4 class="card-title fw-semibold mb-1 text-center">TOP 5</h4>
                  <h6 class="fw-medium">Ingresantes con más Ingresos/Egresos</h6>
                </div>
              </div>
    
              <table class="table table-striped table-bordered mb-0">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Ingresos</th>
                    <th>Egresos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of topUser">
                    <td>{{ user[0] }}</td>
                    <td>{{ translateRole(user[1]) }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    
        <!-- Gráfico de columnas -->
        <div class="col-md-12 align-items-end justify-content-end">
          <div class="card border-0 shadow-lg rounded-4 h-100 transition-all hover-scale" (click)="makeBig(2)">
            <div class="card-body">
              <h4 class="card-title align-items-center">Cantidad de {{ capitalizeFirstLetter(chartType) }}
                <button type="button"
                  class="btn btn-sm btn-link text-muted bi bi-arrows-angle-expand fs-5 float-end" title="Expandir"
                  (click)="makeBig(2)">
                </button>
              </h4>
              <div class="d-flex my-0">
                <h6 class="">Según Tipo de Ingresante</h6>
              </div>
              <hr class="mt-1 mb-3">
              <google-chart 
                style="width: 100%; height: 380px"
                [type]="barChartType"
                [data]="barChartData"
                [options]="barChartOptions"
                [height]="barChartOptions.height">
              </google-chart>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Modal de info -->
<div class="modal fade" id="infoModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Reportes
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>
          Los gráficos pueden filtrarse por fecha (desde - hasta) y también se pueden aplicar filtros avanzados de forma dinámica. 
        </p>
        
        <p class="mb-0"><strong>Gráficos</strong>:</p>
        <ul>
          <li>
            <p>
              <strong>Comparación de Movimientos</strong>: <br> 
              Muestra una comparativa entre los Ingresos y Egresos.<br>
              Incluye seis KPI que indican los Ingresos y Egresos del mes y año actual, 
              como también el mes con más Ingresos y el mes con más Egresos.
            </p>
          </li>
          <li>
            <p>
              <strong>TOP 5 Personas con más Ingresos/Egresos</strong>: <br>
              Muestra el Top 5 de las personas con más Movimientos registrados, indicando su nombre, 
              tipo y cantidad de Ingresos y Egresos. <br>
              Incluye un KPI por cada tipo de persona, indicando su porcentaje y total.
            </p>
          </li>
          <li>
            <p>
              <strong>Cantidad de Movimientos, según Tipo de Ingresante</strong>: <br>
              Muestra todos los Movimientos, del período indicado, según el tipo de persona. <br>
              Incluye un KPI por cada tipo de persona, indicando su porcentaje y total.
            </p>
          </li>
        </ul>
        <ul>          
          <li>
          <strong>Botones</strong>:
          <ul>
            <li><button class="btn btn-primary bi bi-funnel-fill mb-2"></button> Permite aplicar filtros avanzados.
            </li>
            <li><button class="btn btn-secondary bi bi-trash mb-2"></button> Elimina los filtros aplicados.
            </li>
            <li><button class="btn btn-sm btn-link text-muted bi bi-arrow-left fs-5"></button> Vuelve a la pantalla principal.
            </li>
            <li><button class="btn btn-sm btn-link text-muted bi bi-arrows-angle-expand fs-5"></button> Expande el gráfico.
            </li>
          </ul>
        </li>
      </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
