<div class="container-fluid m-1 p-2">             
   <div class="container-fluid pe-5 ps-5 col-10">
        <table id="myTable" class="display">
            <thead class="bg-secondary">
                <tr>
                    <th scope="col" class="border border-dark text-light bg-secondary">Nombre</th>
                    <th scope="col" class="border border-dark text-light bg-secondary">Documento</th>
                    <th scope="col" class="border border-dark text-light bg-secondary">Tipo de Documento</th>
                    <th scope="col" class="border border-dark text-light bg-secondary">Más Información</th>
                    <th scope="col" class="border border-dark text-light bg-secondary">Acción</th>
                    <th scope="col" class="border border-dark text-light bg-secondary">Observaciones</th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>

        <div class="row align-items-center">
            
        </div>

    </div>
        
</div>   
