<div class="card mt-1 mb-1 pt-0">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-auto">
                <input type="text" class="form-control" placeholder="Buscar" id="unifiedSearchFilter">
            </div>
            <div class="col"></div>
            <div class="col-auto">
                <app-access-visitors-excel-reader></app-access-visitors-excel-reader>
            </div>
        </div>
        <div class="table-responsive my-0">
            <table id="tablaconsulta" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Patente</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
