<div class="container">
  <div class="container-fluid mt-2 mb-2">
    <div class="m-1">
      <h1 class="text-left">Movimiento de Proveedores / Empleados</h1>
    </div>
    <div class="container-fluid m-1 p-2">
      <div class="container-fluid pe-5 ps-5 col-10">
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th
                scope="col"
                class="border border-dark text-light bg-secondary"
              >
                Nombre
              </th>
              <th
                scope="col"
                class="border border-dark text-light bg-secondary"
              >
                Documento
              </th>
              <th
                scope="col"
                class="border border-dark text-light bg-secondary"
              >
                Tipo
              </th>
              <th
                scope="col"
                class="border border-dark text-light bg-secondary"
              >
                Más información
              </th>
              <th
                scope="col"
                class="border border-dark text-light bg-secondary"
              >
                Acción
              </th>
              <th
                scope="col"
                class="border border-dark text-light bg-secondary"
              >
                Observaciones
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- Las filas se generarán dinámicamente -->
          </tbody>
        </table>
      </div>
    </div>
    <!-- Mostrar el componente RegisterEntryComponent si showRegisterEntry es verdadero -->
    <app-register-entry
      *ngIf="showRegisterEntry"
      [user]="selectedUser"
      (changeFlag)="showRegisterEntry = false"
    ></app-register-entry>
  </div>
</div>
