<div class="container-fluid p-1 mt-2 mb-2">


  <div class="container-fluid m-1 p-2">
    <div class="container-fluid col-10 shadow p-3 mb-5 bg-body rounded"> <!-- Contenedor con sombra -->
      <div class="">
        <h4 class="text-left mb-4">Movimiento de Proveedores / Empleados</h4>
      </div>

      <table
        id="myTable"
        class="table table-bordered table-striped table-hover"
      >
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">Tipo Doc.</th>
            <th scope="col">Tipo Emp.</th>
            <th scope="col">Más información</th>
            <th scope="col">Acción</th>
            <th scope="col">Observaciones</th>
          </tr>
        </thead>
        <tbody>
          <!-- Las filas se generarán dinámicamente -->
        </tbody>
      </table>
    </div>
  </div>

  <!-- Mostrar el componente RegisterEntryComponent si showRegisterEntry es verdadero -->
  <app-register-entry
    *ngIf="showRegisterEntry"
    [user]="selectedUser"
    (changeFlag)="showRegisterEntry = false"
  ></app-register-entry>
</div>
