<div class="table-container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Documento</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Patente</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
        
            @for (visitor of visitors; track visitor) {
                <tr>
                    <td>{{ visitor.document }}</td>
                    <td>{{ visitor.firstName }}</td>
                    <td>{{ visitor.lastName }}</td>
                    <td>
                        <span *ngIf="visitor.hasVehicle">{{ visitor.vehicle?.licensePlate }}</span>
                        <span *ngIf="!visitor.hasVehicle">Sin vehículo</span>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="actionMenuButton-{{ visitor.document }}" data-bs-toggle="dropdown" aria-expanded="false">
                                Acciones
                            </button>
                            <ul class="dropdown-menu" [attr.aria-labelledby]="'actionMenuButton-' + visitor.document">
                                <li><a class="dropdown-item" (click)="updateVisitor(visitor)">Modificar</a></li>
                                <li><a class="dropdown-item text-danger" (click)="deleteVisitor(visitor)">Eliminar</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
