/* Sobreescribir estilos predeterminados de DataTables */

/* Estilos para el encabezado de la tabla */
#tablaconsulta thead tr {
    background-color: #f8f9fa !important;
}

#tablaconsulta thead th {
    background-color: #f8f9fa !important;
    color: #212529 !important;
    border-color: #dee2e6;
    font-weight: 500;
    border-top: 2px solid #3d2a1c; 
}

/* Asegurarse que los estilos de DataTables no sobreescriban */
table.dataTable thead th {
    background-color: #f8f9fa !important;
    color: #212529 !important;
}

/* Estilo de los botones de paginación */
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background-color: #ffffff !important;
    color: #000 !important;
    border: 1px solid #ccc !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:focus {
    background-color: #ffffff !important;
    color: #000 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #f0f0f0 !important;
    border: 1px solid transparent !important;
}

/* Para el botón activo */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #007bff !important;
    color: #fff !important;
}

/* Para quitar el fondo negro al hacer clic en "Primero" o "Último" */
.dataTables_wrapper .dataTables_paginate .paginate_button:active,
.dataTables_wrapper .dataTables_paginate .paginate_button:focus {
    background-color: #ffffff !important;
    color: #000 !important;
}

/* Personalizar la tabla */
table.dataTable {
    border-collapse: collapse;
}

table.dataTable thead th {
    background-color: #f8f9fa;
    color: #212529;
}

table.dataTable tr {
    border-bottom: 1px solid rgb(245, 240, 240);
}

table.dataTable tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Cambiar el color de los iconos de ordenación */
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    color: #161a1a !important;
}

/* Estilos para el botón de tres puntos */
.btn-options {
    background-color: #ffffff !important; /* Fondo blanco */
    border: 1px solid #dee2e6;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

.btn-options::after {
    content: '\2807';
    font-size: 20px;
    color: #6c757d;
}

.btn-options:hover {
    background-color: #f8f9fa !important;
}

.btn-options:hover::after {
    color: #343a40;
}

/* Estilos para el menú desplegable */
.dropdown-menu {
    min-width: 120px;
    padding: 0.5rem 0;
    margin: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    background-color: #ffffff;
}

.dropdown-item {
    padding: 0.5rem 1rem;
    color: #212529;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.dropdown-item.text-danger {
    color: #dc3545 !important;
}

.dropdown-item.text-danger:hover {
    background-color: #f8d7da;
}