<div class="container mt-4">
  <!-- Selector (Combo) para cambiar entre componentes -->
  <div class="row mb-3">
    <div class="col-md-4">
      <label for="accessOptions" class="form-label">Seleccionar tipo de ingreso/egreso:</label>
      <select id="accessOptions" class="form-select" (change)="navigateToComponent($event)">
        <option value="Seleccionar">Seleccionar</option>
        <option value="Visitors">Ingreso/Egreso de visitantes</option>
        <option value="OwnerAccess">Ingreso/Egreso de vecino</option>
        <option value="Entry">Ingreso/Egreso de empleados</option>
      </select>
    </div>
    <div class="col text-end mt-4 pt-2">
      <app-register-emergency></app-register-emergency>
    </div>
  </div>
  <!-- Filtro de fecha -->
  <div class="row mb-3">
    <div class="col-md-3 mb-2">
      <label for="fechaFilter" class="form-label">Ingrese la fecha</label>
      <input type="date" id="fechaFilter" class="form-control" [value]="todayDate" [max]="todayDate" (blur)="onDateFilterChange($event)">
    </div>
  </div>

  <!-- Tabla de consulta de entradas -->
  <div class="table-responsive my-4">
    <h3 class="text-center mb-4">Consultar Entradas</h3>
    
    <table id="tablaconsulta" class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Tipo de Movimiento</th>
          <th>Nombre Ingresante</th>
          <th>Documento</th>
          <th>Observaciones</th>
          <th>Patente Vehículo</th>
          <th>Hora</th>
          <th>Fecha</th>
          <th>Acción</th>
          <th>Egreso</th>
        </tr>
      </thead>
      <tbody>
        <!-- Los datos serán insertados dinámicamente aquí -->
      </tbody>
    </table>
  </div>
</div>
