<div class="container mt-4">
  <!-- Selector (Combo) para cambiar entre componentes -->
<!--   <div class="row mb-3">
    <div class="col-md-4">
      <label for="accessOptions" class="form-label"
        >Seleccionar tipo de ingreso/egreso:</label
      >
      <select
        id="accessOptions"
        class="form-select"
        (change)="navigateToComponent($event)"
      >
        <option value="Seleccionar">Seleccionar</option>
        <option value="Visitors">Ingreso/Egreso de visitantes</option>
        <option value="OwnerAccess">Ingreso/Egreso de vecino</option>
        <option value="Entry">Ingreso/Egreso de empleados</option>
      </select>
    </div>
    <div class="col text-end mt-4 pt-2">
      <app-register-emergency></app-register-emergency>
    </div>
  </div> -->

  <section class="py-5">
    <div class="container p-3 border border-2 rounded shadow-lg">
      <h4 class="mb-4">Consultar Entradas</h4>


      <div class="row mb-3">
        <!-- Barra de busqueda -->
        <div class="col-md-3 mb-2">
          <input
            type="text"
            placeholder="Buscar"
            class="form-control"
            [(ngModel)]="searchTerm"
            (input)="onSearch($event)"
          />
        </div>
        <!-- Filtro de fecha -->
        <div class="col-md-3 mb-2">
          <input
            type="date"
            id="fechaFilter"
            class="form-control"
            [value]="todayDate"
            [max]="todayDate"
            (blur)="onDateFilterChange($event)"
          />
        </div>
      </div>

      <!-- Tabla de consulta de entradas -->
      <table id="tablaconsulta" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Tipo Movimiento</th>
            <th>Nombre del Visitante</th>
            <th>Documento</th>
            <th>Observaciones</th>
            <th>Vehículo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <!-- Aquí se llenará la tabla con los datos -->
        </tbody>
      </table>
    </div>
  </section>
</div>
