<div class="card mt-5 mx-3 mx-md-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded pruebaNavbar">

  <div class="card-body fs-2">
    <!-- <h5 class="card-title">Ingrese aquí los datos:</h5> -->
  </div>

  <form [formGroup]="formVehicle" class="needs-validation" novalidate (ngSubmit)="onSubmit()">
    <!-- Document Info -->
    <div class="card mt-1 mb-3">
      <div class="card-body pb-2">
        <div class="row g-3 mb-3">
          <!--* Campo Documento *-->
          <div class="col-6">
            <div class="d-flex align-items-center">
              <label for="document" class="form-label me-1" style="width: 120px;">Documento</label>
              <div class="position-relative flex-grow-1">
                <input type="text" class="form-control mb-0" id="document" formControlName="document"
                  [class.is-valid]="formVehicle.get('document')?.valid && formVehicle.get('document')?.touched"
                  [class.is-invalid]="formVehicle.get('document')?.invalid && formVehicle.get('document')?.touched">
                <!--* Mensajes de error para Documento *-->
                <div class="invalid-feedback position-absolute [120px] mt-0">
                  <div *ngIf="formVehicle.get('document')?.hasError('userNotFound') && formVehicle.get('document')?.touched">
                    El documento no existe.
                  </div>
                  <div *ngIf="formVehicle.get('document')?.hasError('apiError') && formVehicle.get('document')?.touched">
                    Documento no encontrado.
                  </div>
                  @if(formVehicle.get('document')?.invalid && formVehicle.get('document')?.touched){
                    @if(formVehicle.get('document')?.errors?.['required']){
                      <p>El documento es requerido</p>
                    }
                    @if(formVehicle.get('document')?.errors?.['minlengt']){
                      <div>El documento debe tener 8 caracteres</div>
                    }
                    @if(formVehicle.get('document')?.errors?.['min']){
                      <div>El documento debe tener 8 caracteres</div>
                    }
                    @if(formVehicle.get('document')?.errors?.['userNotFound']){
                      <div>El usuario no existe</div>
                    }
                  }
                </div>
              </div>
            </div>
          </div>
          <!--* Campo Tipo de Documento *-->
          <div class="col-6">
            <div class="d-flex align-items-center">
              <label for="documentType" class="form-label me-2" style="width: 120px;">Tipo Documento</label>
              <div class="position-relative flex-grow-1">
                <select class="form-control" id="documentType" formControlName="documentType"
                  [class.is-valid]="formVehicle.get('documentType')?.valid && formVehicle.get('documentType')?.touched"
                  [class.is-invalid]="formVehicle.get('documentType')?.invalid && formVehicle.get('documentType')?.touched">
                  <option value="DNI">DNI</option>
                  <option value="PASSPORT">Pasaporte</option>
                  <option value="CUIT">CUIT</option>
                </select>
                <div class="invalid-feedback position-absolute mt-0">
                  @if(formVehicle.get('documentType')?.invalid && formVehicle.get('documentType')?.touched){
                    @if(formVehicle.get('documentType')?.errors?.['required']){
                      <div>El tipo es requerido</div>
                    }
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    @if (isUserFound) {
      <div class="card mt-3 mb-3">
        <div class="card-body">
          <div class="row g-3 mb-3">
            <div class="col-12 d-flex align-items-center">
              <h5 class="mb-0 me-4">Datos del Usuario:</h5>
              <p class="mb-0 me-4">Nombre: {{ userAllowed?.name }}</p>
              <p class="mb-0 me-4">Apellido: {{ userAllowed?.last_name }}</p>
              <p class="mb-0">Email: {{ userAllowed?.email }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3 mb-3">
        <div class="card-body">
          <div class="row g-3 mb-3">
            <h5>Listado de Vehículos:</h5>
            @for(vehicle of userAllowed?.vehicles;track $index){
              <div class="col-12 col-md-3 d-flex align-items-center">
                <label for="plate{{$index}}" class="form-label me-2">Patente</label>
                <input type="text" class="form-control " [id]="'plate'+$index" name="plate" value="{{vehicle.plate}}"
                  [disabled]="true">
              </div>
              <div class="col-12 col-md-3 d-flex align-items-center">
                <label for="vehicle_Type{{$index}}" class="form-label me-2">Tipo de Vehículo</label>
                <input type="text" class="form-control " [id]="'vehicle_Type'+$index" name="vehicle_Type"
                  value="{{vehicle.vehicle_Type.description==='Car'?'Auto':vehicle.vehicle_Type.description
              ==='Motorbike' ?'Moto':vehicle.vehicle_Type.description==='Truck'?'Camión':vehicle.vehicle_Type.description==='Van'?'Camioneta':vehicle.vehicle_Type.description}}" [disabled]="true">
              </div>
              <div class="col-12 col-md-3  d-flex align-items-center">
                <label for="insurance{{$index}}" class="form-label me-2">Seguro</label>
                <input type="text" class="form-control " [id]="'insurance'+$index" name="insurance"
                  value="{{vehicle.insurance}}" [disabled]="true">
              </div>
              <div class="col-12 col-md-3 d-flex align-items-center ">
                <button type="button" class="btn btn-danger btn-sm " (click)="openConfirmModal(vehicle.plate)">
                  Baja
                </button>
              </div>

            }
          </div>
        </div>
      </div>
    }
    <!-- Vehicle Forms -->
    <div class="card mt-3 mb-3">
      <div class="card-body">
        <div class="row justify-content-between mb-2">
          <h5 class="col">Alta de Vehículos:</h5>
          <div class="col text-end">
            <button type="button" class="btn btn-primary" (click)="addVehicle()">
              Agregar
            </button>
          </div>
        </div>
        <div formArrayName="vehicles">
          @for (vehicleGroup of VehiclesArray.controls; track $index) {
          <hr>
          <div [formGroupName]="$index" class="g-3 mb-2">
            <div class="row align-items-center mb-4">
              <!-- Campo Patente -->
              <div class="col-12 col-md-3">
                <div class="d-flex align-items-center">
                  <label for="plate" class="form-label me-2">Patente</label>
                  <div class="position-relative">
                    <input type="text" class="form-control" [id]="'plate'+$index" formControlName="plate"
                      [class.is-valid]="vehicleGroup.get('plate')?.valid && vehicleGroup.get('plate')?.touched"
                      [class.is-invalid]="vehicleGroup.get('plate')?.invalid && vehicleGroup.get('plate')?.touched">
                    <div class="invalid-feedback ms-[120px] position-absolute">
                      @if (vehicleGroup.get('plate')?.errors?.['required'] && vehicleGroup.get('plate')?.touched) {
                        <div>La patente es requerida.</div>
                      }
                      @if (vehicleGroup.get('plate')?.errors?.['pattern'] && vehicleGroup.get('plate')?.touched) {
                        <div>Formato de patente inválido.</div>
                      }
                    </div>
                  </div>
                </div>
              </div>
              <!-- Campo Tipo de Vehículo -->
              <div class="col-12 col-md-3">
                <div class="d-flex align-items-center">
                  <label for="vehicleType" class="form-label me-2">Tipo de Vehículo</label>
                  <div class="col-8 position-relative">
                    <select class="form-control" [id]="'vehicleType'+$index" formControlName="vehicleType"
                      [class.is-valid]="vehicleGroup.get('vehicleType')?.valid && vehicleGroup.get('vehicleType')?.touched"
                      [class.is-invalid]="vehicleGroup.get('vehicleType')?.invalid && vehicleGroup.get('vehicleType')?.touched">
                      @for (option of vehicleOptions; track option.value) {
                        <option [value]="option.value">{{option.label}}</option>
                      }
                    </select>
  
                    <div class="invalid-feedback ms-[120px] position-absolute">
                      @if (vehicleGroup.get('vehicleType')?.errors?.['required'] &&
                        vehicleGroup.get('vehicleType')?.touched) {
                        <div>El tipo de vehículo es requerido.</div>
                      }
                    </div>
                  </div>
                </div>
              </div>
              <!-- Campo Seguro -->
              <div class="col-12 col-md-3">
                <div class="d-flex align-items-center">
                  <label for="insurance" class="form-label me-2">Seguro</label>
                  <div class="col-10 position-relative">
                    <select class="form-control" [id]="'insurance'+$index" formControlName="insurance"
                      [class.is-valid]="vehicleGroup.get('insurance')?.valid && vehicleGroup.get('insurance')?.touched"
                      [class.is-invalid]="vehicleGroup.get('insurance')?.invalid && vehicleGroup.get('insurance')?.touched">
                      @for (insurance of insurances; track $index) {
                        <option [value]="insurance">{{insurance}}</option>
                      }
                    </select>
  
                    <div class="invalid-feedback ms-[120px] position-absolute">
                      @if (vehicleGroup.get('insurance')?.errors?.['required'] &&
                        vehicleGroup.get('insurance')?.touched) {
                        <div>El seguro es requerido.</div>
                      }
                    </div>
                  </div>
                </div>
              </div>
              <!-- Botón Quitar -->
              <div class="col-12 col-md d-flex flex-column align-items-end justify-content-end">
                <button type="button" class="btn btn-danger btn-sm" (click)="removeVehicle($index)">
                  Quitar
                </button>
              </div>
            </div>
          </div>
          }
        </div>

      </div>
    </div>
    <!-- Add Vehicle Button -->


    <!-- Submit Button -->

    <div class="col-12 md-3 text-end">
      <button type="submit" class="btn btn-success " [disabled]="!formVehicle.valid">
        Registrar
      </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel">Confirmación</h5>
          </div>
          <div class="modal-body">
            ¿Estás seguro de que deseas dar de baja el vehículo la con patente <strong>{{ selectedVehicle?.plate
              }}</strong>?
          </div>
          <div class="modal-footer border-0">
            <button type="button" class="btn btn-danger" (click)="logicDownVehicle()"
              data-bs-dismiss="modal">Eliminar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal fade" id="infoModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de Visitantes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>
          En esta pantalla podrá agregar, eliminar y registrar los Vehículos de una persona cargada
          en el sistema, indicando su documento y tipo de documento. <br>
        </p>
        <strong>Botones</strong>:
        <ul class="mt-2">
          <li class="mb-2">
            <button class="btn btn-success me-3">Añadir</button>
            <span>Agrega el vehículo a la lista de Vehículos.</span>
          </li>
          <li class="mb-2">
            <button class="btn btn-danger me-3">Quitar</button>
            <span>Elimina el vehículo de la lista de Vehículos.</span>
          </li>
          <li class="">
            <button class="btn btn-primary me-3">Registrar</button>
            <span>Registra los vehículos de la persona cargada.</span>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<access-app-register-emergency></access-app-register-emergency>