<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" routerLink="/">Accesses</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="Visitors">Ingreso/Egreso de Visitantes</a>
                </li>
            </ul>
            <!-- Temporal para testear funcionalidad -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="nav-item">
                    <app-register-emergency></app-register-emergency> <!-- Colocar el componente en la pantalla de Listado de Ingresos / Egresos -->
                    <span class="text-bg-danger"> 
                        Revisar Comentarios
                    </span>
                </div>
            </ul>
            <!----------------------------------------->
        </div>
    </div>
</nav>
<router-outlet></router-outlet>