<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">Días y horarios de visita</h5>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="startDate" class="form-label">Desde</label>
          <input type="date" class="form-control" id="startDate" formControlName="startDate"  [disabled]="areDatesDisabled"  [readonly]="areDatesReadonly" [class.bg-gray-100]="areDatesReadonly" required>
        </div>
        <div class="col-md-6 mb-3">
          <label for="endDate" class="form-label">Hasta</label>
          <input type="date" class="form-control" id="endDate" formControlName="endDate" [disabled]="areDatesDisabled"  [class.bg-gray-100]="areDatesReadonly" required>
        </div>
      </div>
      <div class="row g-2 align-items-center mb-3">
        <div class="col-12 col-md-6">
          <div class="btn-group d-flex flex-wrap" role="group" aria-label="Días de visita">
            <ng-container *ngFor="let day of days; let i = index">
              <input type="checkbox" class="btn-check" [id]="'btncheck' + (i + 1)" [formControlName]="day.name" [disabled]="isAllowedDay(day)" autocomplete="off">
              <label class="btn" [class.btn-primary]="form.get(day.name)?.value" [class.btn-outline-primary]="!form.get(day.name)?.value" [class.disabled]="isAllowedDay(day)" [for]="'btncheck' + (i + 1)">
                {{ day.name }}
              </label>
            </ng-container>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row g-2">
            <div class="col-5">
              <input type="time" class="form-control" id="initHour" formControlName="initHour" placeholder="Desde" required>
            </div>
            <div class="col-5">
              <input type="time" class="form-control" id="endHour" formControlName="endHour" placeholder="Hasta" required>
            </div>
            <div class="col-2">
              <button class="btn btn-primary w-100 btn-sm" type="button" (click)="agregarDiasPermitidos()">+</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="allowedDays.length > 0" class="table-responsive mt-4">
        <table class="table table-striped table-fixed">
          <thead>
            <tr>
              <th>Día</th>
              <th>Horario</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let schedule of allowedDays">
              <td>{{ schedule.day.name }}</td>
              <td>{{ formatHour(schedule) }}</td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="deleteAllowedDay(schedule)">Borrar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-end gap-3">
          <button class="btn btn-primary mt-3  btn-sm" (click)="agregarAuthRange()">Agregar Rango</button>
        </div>
      </div>
    </form>
  </div>
</div>
