<div class="modal fade text-start" id="visitorModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content h-100">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Registrar Visita</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="visitorForm" class="needs-validation" novalidate (ngSubmit)="sendVisitor()">
          <div class="row g-4">
            <!-- Primera sección -->
            <div class="col-12 col-md-6">
              <div class="form-group row mb-3">
                <label for="authorizedType" class="col-4 col-form-label">Autorizado</label>
                <div class="col-8">
                  <select id="authorizedType" class="form-select" formControlName="authorizedType"
                    [class.is-valid]="visitorForm.get('authorizedType')?.valid && visitorForm.get('authorizedType')?.touched"
                    [class.is-invalid]="visitorForm.get('authorizedType')?.invalid && visitorForm.get('authorizedType')?.touched"
                    required (change)="onAuthorizedTypeChange($event)">
                    <option *ngFor="let type of usersType" [value]="type.id">
                      {{ type.description }}
                    </option>
                  </select>
                  <div class="invalid-feedback"
                    *ngIf="visitorForm.get('authorizedType')?.errors && visitorForm.get('authorizedType')?.touched">
                    <div *ngIf="visitorForm.get('authorizedType')?.errors?.['required']">
                      El Tipo de Ingresante es Requerido
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Propietario</label>
                <div class="col-8">
                  <ng-select class="w-100" [items]="propietariosOptions" [multiple]="false" [closeOnSelect]="true"
                    [searchable]="true" bindLabel="label" bindValue="id" formControlName="propietario"
                    [ngClass]="{'is-invalid': visitorForm.get('propietario')?.invalid && visitorForm.get('propietario')?.touched}"
                    (change)="onPropietarioChange($event)"
                    [placeholder]="SelectedNeighborhood ? '' : 'Buscar propietario'">
                    <ng-template ng-option-tmp let-item="item">
                      {{ item.label }}
                    </ng-template>
                  </ng-select>
                  <div class="invalid-feedback"
                    *ngIf="visitorForm.get('propietario')?.invalid && visitorForm.get('propietario')?.touched">
                    Debe seleccionar un propietario
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="row g-4">
                    <!-- Document Fields -->
                    <div class="col-12 col-md-6">
                      <div class="form-group row mb-3">
                          <label for="document" class="col-4 col-form-label">Documento</label>
                          <div class="col-8">
                              <input type="text" class="form-control" id="document" formControlName="document"
                                  (input)="onDocumentInput($event)"
                                  [class.is-valid]="visitorForm.get('document')?.valid && visitorForm.get('document')?.touched"
                                  [class.is-invalid]="visitorForm.get('document')?.invalid && visitorForm.get('document')?.touched" />
                              <div class="invalid-feedback"
                                  *ngIf="visitorForm.get('document')?.errors && visitorForm.get('document')?.touched">
                                  <div *ngIf="visitorForm.get('document')?.errors?.['required']">
                                      El documento es requerido.
                                  </div>
                                  <div *ngIf="visitorForm.get('document')?.errors?.['minlength']">
                                      El documento debe tener al menos 8 caracteres.
                                  </div>
                                  <div *ngIf="visitorForm.get('document')?.errors?.['dniAlreadyPropietario']">
                                      Este DNI corresponde a un propietario registrado. Los propietarios no requieren autorización adicional.
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                    <div class="col-12 col-md-6">
                      <div class="form-group row mb-3">
                          <label for="documentType" class="col-4 col-form-label">Tipo Documento</label>
                          <div class="col-8">
                              <select id="documentType" class="form-select" formControlName="documentType"
                                  [class.is-valid]="visitorForm.get('documentType')?.valid && visitorForm.get('documentType')?.touched"
                                  [class.is-invalid]="visitorForm.get('documentType')?.invalid && visitorForm.get('documentType')?.touched"
                                  required>
                                  <option value="1">DNI</option>
                                  <option value="2">Pasaporte</option>
                                  <option value="3">CUIT</option>
                              </select>
                              <div class="invalid-feedback" *ngIf="visitorForm.get('documentType')?.errors && visitorForm.get('documentType')?.touched">
                                  <div *ngIf="visitorForm.get('documentType')?.errors?.['required']">
                                      El Tipo de Documento es requerido.
                                  </div>
                              </div>
                              
                          
                          </div>
                      </div>
                  </div>

                    <!-- Name Fields -->
                    <div class="col-12 col-md-6">
                      <div class="form-group row mb-3">
                        <label for="firstName" class="col-4 col-form-label">Nombre</label>
                        <div class="col-8">
                          <input type="text" class="form-control" id="firstName" formControlName="firstName"
                            [class.is-valid]="visitorForm.get('firstName')?.valid && visitorForm.get('firstName')?.touched"
                            [class.is-invalid]="visitorForm.get('firstName')?.invalid && visitorForm.get('firstName')?.touched" />
                          <div class="invalid-feedback"
                            *ngIf="visitorForm.get('firstName')?.errors && visitorForm.get('firstName')?.touched">
                            <div *ngIf="visitorForm.get('firstName')?.errors?.['required']">
                              El nombre es requerido.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-6">
                      <div class="form-group row mb-3">
                        <label for="lastName" class="col-4 col-form-label">Apellido</label>
                        <div class="col-8">
                          <input type="text" class="form-control" id="lastName" formControlName="lastName"
                            [class.is-valid]="visitorForm.get('lastName')?.valid && visitorForm.get('lastName')?.touched"
                            [class.is-invalid]="visitorForm.get('lastName')?.invalid && visitorForm.get('lastName')?.touched" />
                          <div class="invalid-feedback"
                            *ngIf="visitorForm.get('lastName')?.errors && visitorForm.get('lastName')?.touched">
                            <div *ngIf="visitorForm.get('lastName')?.errors?.['required']">
                              El apellido es requerido.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Vehicle Switch -->
                    <div class="col-12 col-md-6">
                      <div class="form-group row mb-3">
                        <div class="col-4"></div>
                        <div class="col-8">
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="hasVehicle"
                              formControlName="hasVehicle" style="transform: scale(1.2)" />
                            <label class="form-check-label" for="hasVehicle">Vehículo</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Vehicle Fields -->
                    <ng-container *ngIf="visitorForm.controls['hasVehicle'].value">
                      <div class="col-12 col-md-6">
                        <div class="form-group row mb-3">
                          <label for="licensePlate" class="col-4 col-form-label">Patente</label>
                          <div class="col-8">
                            <input type="text" class="form-control" id="licensePlate" formControlName="licensePlate"
                              (input)="onLicensePlateInput($event)"
                              [class.is-valid]="visitorForm.get('licensePlate')?.valid && visitorForm.get('licensePlate')?.touched"
                              [class.is-invalid]="visitorForm.get('licensePlate')?.invalid && visitorForm.get('licensePlate')?.touched" />
                            <div class="invalid-feedback"
                              *ngIf="visitorForm.get('licensePlate')?.errors && visitorForm.get('licensePlate')?.touched">
                              <div *ngIf="visitorForm.get('licensePlate')?.errors?.['required']">
                                La patente es requerida.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-6">
                        <div class="form-group row mb-3">
                          <label for="vehicleType" class="col-4 col-form-label">Tipo Vehículo</label>
                          <div class="col-8">
                            <select class="form-select" id="vehicleType" formControlName="vehicleType"
                              [class.is-valid]="visitorForm.get('vehicleType')?.valid && visitorForm.get('vehicleType')?.touched"
                              [class.is-invalid]="visitorForm.get('vehicleType')?.invalid && visitorForm.get('vehicleType')?.touched">
                              <option *ngFor="let option of vehicleOptions" [value]="option.value">
                                {{ option.label }}
                              </option>
                            </select>
                            <div class="invalid-feedback"
                              *ngIf="visitorForm.get('vehicleType')?.errors && visitorForm.get('vehicleType')?.touched">
                              <div *ngIf="visitorForm.get('vehicleType')?.errors?.['required']">
                                El tipo de vehículo es requerido.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-6">
                        <div class="form-group row mb-3">
                          <label for="insurance" class="col-4 col-form-label">Seguro</label>
                          <div class="col-8">
                            <select id="insurance" class="form-select" formControlName="insurance"
                              [class.is-valid]="visitorForm.get('insurance')?.valid && visitorForm.get('insurance')?.touched"
                              [class.is-invalid]="visitorForm.get('insurance')?.invalid && visitorForm.get('insurance')?.touched">
                              @for (insurance of insurances; track $index) {
                                <option [value]="insurance">{{insurance}}</option>
                              }
                              <!-- ... resto de las opciones ... -->
                            </select>
                            <div class="invalid-feedback"
                              *ngIf="visitorForm.get('insurance')?.errors && visitorForm.get('insurance')?.touched">
                              <div *ngIf="visitorForm.get('insurance')?.errors?.['required']">
                                El seguro es requerido.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#visitorListModal">
          Cerrar
        </button>
        <button type="submit" class="btn btn-primary btn-sm" style="margin-bottom: 2px" (click)="sendVisitor()"
          [disabled]="!(visitorForm.get('document')?.valid && visitorForm.get('firstName')?.valid && visitorForm.get('lastName')?.valid && visitorForm.get('propietario')?.valid)">
          Registrar
        </button>
      </div>
    </div>
  </div>
</div>