<div class="card mt-5 mx-3 mx-md-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <div class="card-header fs-1">
        Registro de invitados
    </div>
    <div class="card-body fs-2">
        <h5 class="card-title">Ingrese aquí los datos:</h5>
    </div>
    <form [formGroup]="visitorForm" class="needs-validation" novalidate (ngSubmit)="sendVisitorWithoutRH()">
        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-6">
                <label for="document" class="form-label">Documento</label>
                <input type="text" class="form-control" id="document" formControlName="document"
                    (input)="onDocumentInput($event)"
                    [class.is-valid]="visitorForm.get('document')?.valid && visitorForm.get('document')?.touched"
                    [class.is-invalid]="visitorForm.get('document')?.invalid && visitorForm.get('document')?.touched">
                <div class="invalid-feedback"
                    *ngIf="visitorForm.get('document')?.errors && visitorForm.get('document')?.touched">
                    <div *ngIf="visitorForm.get('document')?.errors?.['required']">El documento es requerido.</div>
                    <div *ngIf="visitorForm.get('document')?.errors?.['minlength']">El documento debe tener al menos 8
                        caracteres.</div>
                    <div *ngIf="visitorForm.get('document')?.errors?.['maxlength']">El documento no puede exceder 15
                        caracteres.</div>
                    <div *ngIf="visitorForm.get('document')?.errors?.['pattern']">El documento debe contener solo letras
                        y números.</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <label for="documentType" class="form-label">Tipo Documento</label>
                <select id="documentType" class="form-select" formControlName="documentType"
                    [class.is-valid]="visitorForm.get('documentType')?.valid && visitorForm.get('documentType')?.touched"
                    [class.is-invalid]="visitorForm.get('documentType')?.invalid && visitorForm.get('documentType')?.touched" required="">
                    <option value="" disabled selected>Seleccione el tipo de documento</option>
                    <option value=1>DNI</option>
                    <option value=2>Pasaporte</option>
                </select>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <label for="firstName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName"
                    [class.is-valid]="visitorForm.get('firstName')?.valid && visitorForm.get('firstName')?.touched"
                    [class.is-invalid]="visitorForm.get('firstName')?.invalid && visitorForm.get('firstName')?.touched">
                <div class="invalid-feedback"
                    *ngIf="visitorForm.get('firstName')?.errors && visitorForm.get('firstName')?.touched">
                    <div *ngIf="visitorForm.get('firstName')?.errors?.['required']">El nombre es requerido.</div>
                    <div *ngIf="visitorForm.get('firstName')?.errors?.['maxlength']">El nombre no puede exceder 45
                        caracteres.</div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <label for="lastName" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName"
                    [class.is-valid]="visitorForm.get('lastName')?.valid && visitorForm.get('lastName')?.touched"
                    [class.is-invalid]="visitorForm.get('lastName')?.invalid && visitorForm.get('lastName')?.touched">
                <div class="invalid-feedback"
                    *ngIf="visitorForm.get('lastName')?.errors && visitorForm.get('lastName')?.touched">
                    <div *ngIf="visitorForm.get('lastName')?.errors?.['required']">El apellido es requerido.</div>
                    <div *ngIf="visitorForm.get('lastName')?.errors?.['maxlength']">El apellido no puede exceder 45
                        caracteres.</div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email"
                    [class.is-valid]="visitorForm.get('email')?.valid && visitorForm.get('email')?.touched"
                    [class.is-invalid]="visitorForm.get('email')?.invalid && visitorForm.get('email')?.touched">
                <div class="invalid-feedback"
                    *ngIf="visitorForm.get('email')?.errors && visitorForm.get('email')?.touched">
                    <div *ngIf="visitorForm.get('email')?.errors?.['required']">El email es requerido.</div>
                    <div *ngIf="visitorForm.get('email')?.errors?.['email']">Por favor, ingrese un email válido.</div>
                    <div *ngIf="visitorForm.get('email')?.errors?.['maxlength']">El email no puede exceder 70
                        caracteres.</div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6 mt-5">
                <div class="input-group-text">
                    <input class="form-check-input w-10" type="checkbox" role="switch" id="hasVehicle"
                        formControlName="hasVehicle" style="transform: scale(1.2);">
                    <label class="form-check-label w-50 text-end" for="hasVehicle">Vehículo</label>
                </div>
            </div>

            <ng-container *ngIf="visitorForm.controls['hasVehicle'].value">
                <div class="col-12 col-md-6 col-lg-6">
                    <label for="licensePlate" class="form-label">Patente</label>
                    <input type="text" class="form-control" id="licensePlate" formControlName="licensePlate"
                        (input)="onLicensePlateInput($event)"
                        [class.is-valid]="visitorForm.get('licensePlate')?.valid && visitorForm.get('licensePlate')?.touched"
                        [class.is-invalid]="visitorForm.get('licensePlate')?.invalid && visitorForm.get('licensePlate')?.touched">
                    <div class="invalid-feedback"
                        *ngIf="visitorForm.get('licensePlate')?.errors && visitorForm.get('licensePlate')?.touched">
                        <div *ngIf="visitorForm.get('licensePlate')?.errors?.['required']">La patente es requerida.
                        </div>
                        <div *ngIf="visitorForm.get('licensePlate')?.errors?.['pattern']">Formato de patente inválido.
                        </div>
                        <div *ngIf="visitorForm.get('licensePlate')?.errors?.['maxlength']">La patente no puede exceder
                            7 caracteres.</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="input-group" style="margin-top: 30px;">
                      <select class="form-select" id="vehicleType" formControlName="vehicleType"
                          [class.is-valid]="visitorForm.get('vehicleType')?.valid && visitorForm.get('vehicleType')?.touched"
                          [class.is-invalid]="visitorForm.get('vehicleType')?.invalid && visitorForm.get('vehicleType')?.touched">
                        <option value="" disabled selected>Seleccione el tipo de vehículo</option>
                        <option *ngFor="let option of vehicleOptions" [value]="option.value">{{ option.label }}</option>
                      </select>
                      <label class="input-group-text" for="vehicleType">Tipo de Vehículo</label>
                    </div>
                    <div class="invalid-feedback"
                        *ngIf="visitorForm.get('vehicleType')?.errors && visitorForm.get('vehicleType')?.touched">
                      <div *ngIf="visitorForm.get('vehicleType')?.errors?.['required']">Por favor, seleccione un tipo de vehículo.</div>
                    </div>
                  </div>
                  
                  

                <div class="col-12 col-md-6 col-lg-6">
                    <label for="insurance" class="form-label">Seguro</label>
                    <select id="insurance" class="form-select" formControlName="insurance"
                        [class.is-valid]="visitorForm.get('insurance')?.valid && visitorForm.get('insurance')?.touched"
                        [class.is-invalid]="visitorForm.get('insurance')?.invalid && visitorForm.get('insurance')?.touched">
                        <option value="" disabled selected>Seleccione el seguro de vehículo</option>
                        <option value="San Cristobal">San Cristobal</option>
                        <option value="La Nueva">La Nueva</option>
                        <option value="La Segunda">La Segunda</option>
                        <option value="Sancor Seguros">Sancor Seguros</option>
                        <option value="Federación Patronal">Federación Patronal</option>
                        <option value="Mapfre">Mapfre</option>
                        <option value="Provincia Seguros">Provincia Seguros</option>
                        <option value="Allianz">Allianz</option>
                        <option value="Zurich Seguros">Zurich Seguros</option>
                        <option value="Nación Seguros">Nación Seguros</option>
                        <option value="Securitas">Securitas</option>
                        <option value="Mercantil Andina">Mercantil Andina</option>
                        <option value="Quálitas">Quálitas</option>
                    </select>
                    <div class="invalid-feedback"
                        *ngIf="visitorForm.get('insurance')?.errors && visitorForm.get('insurance')?.touched">
                        <div *ngIf="visitorForm.get('insurance')?.errors?.['required']">Por favor, seleccione un seguro.
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary btn-sm" style="margin-bottom: 2px;" [disabled]="!(
                        visitorForm.get('document')?.valid &&
                        visitorForm.get('firstName')?.valid &&
                        visitorForm.get('lastName')?.valid &&
                        visitorForm.get('email')?.valid
                    )">Agregar</button>
            </div>
        </div>

        <div class="card-header fs-3">
            Lista de invitaciones
        </div>
        <app-access-grid-visitors-registration (updateVisit)="updateVisitor($event)"></app-access-grid-visitors-registration>


        <div class="card-header fs-3">
            Rango de dias permitidos para la invitacion
        </div>
        <app-access-time-range-visitors-registration></app-access-time-range-visitors-registration>
        
        
        <div class="col-12 mt-5">
            <div class="d-flex justify-content-end gap-3">
                <button 
                class="btn btn-outline-success btn-lg" 
                type="button" 
                *ngIf="isQRCodeAvailable" 
                (click)="downloadQRCode()" 
                [disabled]="!isQRCodeAvailable">
                Descargar Qr
            </button>
                <button class="btn btn-primary btn-lg" type="button" (click)="sendVisitorRecord()">Registrar</button>
            </div>
        </div>
    </form>
</div>